* {
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background: url("img/office.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}


/* Header; navigation bar */
header {
	background: #009688;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
	position: fixed; 
	width: 100%;
	letter-spacing: 0.1em;
	z-index: 10;
	font-family: 'Josefin Sans', sans-serif;
}

#menu li a {
	display: block;
}

.hidden {
	display: none;
}

#mainHeader {
	background: #00796B;
	font-weight: bold;
	text-transform: uppercase;
}

#mainHeader span {
	padding-left: 10px;
}

#mainHeader img {
	vertical-align: middle;
	height: 40px;
	padding-right: 10px;
	border-right: solid whitesmoke 2px;
}

.extLinks {
	float: left;
}

ul {
	list-style-type: none;
}

#menu a, #mainHeader a {
	text-decoration: none;
	color: whitesmoke;
  	padding: 0 16px;
	line-height: 50px;
}

#menu a {
	transition: background 0.75s ease;
}
#menu a:hover {
	background: #00796B;
}


/* Sections are the different menu links */
section {
	min-height: 100vh;
	background: rgba(256, 256, 256, 0.6);
}


/* sections h1 */
#about h1, #creations h1, #contact h1 {
	color: whitesmoke;
	text-align: right;
	padding-right: 14px;
	background: #333;
	line-height: 50px;
	font-size: 40px;
	letter-spacing: 0.1em;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}



/* Home section; name, function and logo */
#home > div {
	padding-top: 22vh;
	min-height: 100vh;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	position: relative;
}

#home h1 {
	font-size: 8vh;
	text-align: center;
	letter-spacing: 0.2em;
	color: #00796B;
}

#home h2 {
	font-size: 4vh;
	text-align: center;
	letter-spacing: 0.1em;
	color: #333;
}

#home img {
	padding-top: 20px;
	width: 20%;
}



/* About section; presentation text */
#about {}

#about h3 {
	color: #00796B;
}

#about p, #about h3 {
	padding: 20px 10px;
	text-align: justify;
	line-height: 22px;
	letter-spacing: 0.06em;
}

#about a {
	color: whitesmoke;
	padding: 0 5px;
	border-radius: 2.5px;
	background: #009688;
	text-decoration: none;
}
#about a:hover {
	background: #00796B;
}



/* Creations section; miniatures and links */
#creations {
	text-align: center;
}

#creations > div > div {
	margin-top: 40px;
}

#creations #filter span {
	padding: 5px 10px;
	border-radius: 2.5px;
	margin: 5px 0px;
	display: inline-block;
	background: whitesmoke;
}
#creations #html {
	color: #E44D26;
}
#creations #css {
	color: #0765A3;
}
#creations #js {
	color: #F1E05A;
}
#creations #bs {
	color: #4E3773;
}
#creations #jq {
	color: #144E9A;
}

#creations .creas {
	width: 100%;
	margin: 10px 0;
	background: whitesmoke;
	display: block;
	transition: box-shadow 0.5s ease;
	border-radius: 5px;
}
#creations .creas:hover {
	box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.6);
}

#creations figure {
	position: relative;
	max-width: 90%;
	display: inline-block;
}

#creations figcaption {
	display: none;
	position: absolute;
	bottom: 20px;
	margin: 10px 0;
	text-align: center;
	width: 100%;
	background: rgba(256, 256, 256, 0.7);
	line-height: 24px;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.23), 0 0px 10px rgba(0, 0, 0, 0.16);
	font-size: 18px;
}
#creations .creas:hover + figcaption {
	display: block;
}

#creations a {
	color: #333;
}

#more {
	padding-top: 20px;
	padding-bottom: 40px;
}

#creations #more span {
	width: 90%;
	background: #009688;
	color: whitesmoke;
	padding: 10px 20px;
	border-radius: 5px;
	transition: background 1s ease;
}

#creations #more span:hover {
 	background: #00796B;
 	cursor: pointer;
}



/* Contact section; form, info and resume */
#contact {
	position: relative;
	text-align: center;
}

#contact #contactForm {
	width: 90%;
	min-height: 25vh;
	margin: 20px auto;
	background: rgba(256, 256, 256, 0.8);
	padding: 10px;
	display: flex;
	border-radius: 5px;
}

#contactForm form{
	width: 100%;
	display: flex;
	flex-direction: column;
}

#contact form legend {
	color: #009688;
	font-size: 18px;
	font-weight: bold;
}

#contactForm form div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#contactForm input, #contactForm textarea {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

#contactForm label {
	display: none;
	color: #333;
}

#contactForm [type="submit"] {
	width: 100%;
    background-color: #009688;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background 1s ease;
}
#contactForm [type="submit"]:hover {
	background: #00796B;
}

#contact #contactInfo {
	width: 90%;
	min-height: 25vh;
	margin: 20px auto;
	background: rgba(256, 256, 256, 0.8);
	padding: 10px;
	color: #009688;
	border-radius: 5px;
}

#contactInfo p {
	color: #333;
}

#contactInfo img {
	width: 20%;
	border-radius: 5px;
}

#contactInfo a {
	color: #009688;
	padding: 0 5px;
}
#contactInfo a:hover {
	color: #00796B;
}

#contactInfo > * {
	margin: 5px 0;
}

#contact #resume {
	margin-top: 20px;
}
#resume a {
	color: #009688;
	text-decoration: none;
}
#resume a:hover {
	color: #00796B;
}



/* Footer section; fixed at bottom */
footer {
	background: #009688;
	text-align: center;
	color: whitesmoke;
	box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.23), 0 -3px 10px rgba(0, 0, 0, 0.16);
	width: 100%;
	letter-spacing: 0.1em;
}

footer p {
	line-height: 25px;
	font-size: 12px;
}

footer img {
	vertical-align: middle;
	height: 16px;
}



/* over 768px ! */
@media only screen and (min-width: 767px) {
	#mainHeader {
		float: left;
		border-right: solid #009688;
	}
	
	#menu {
		display: block;
	}
	
	.hidden {
		display: block;
	}
	
	.intLinks {
		float: left;
	}
	
	#burger, #cross {
		display: none;
	}
	
	.extLinks {
		float: right;
	}
	
	#titleHeader {
		display: block;
		background: #00796B;
	}

	#about p, #about h3 {
		padding: 20px 40px;
		line-height: 24px;
		letter-spacing: 0.07em;
	}

	#creations #filter span {
		margin: auto 10px;
	}

	#creations figure {
		display: inline-block;
		position: relative;
		width: 40%;
		margin: 20px auto;
	}

	#creations .creas {
		margin: 0px 20px;
		display: inline-block;
	}

	#creations figcaption {
		margin: auto 20px;
	}

	#contact div div {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	#contact #contactForm {
		flex-direction: column;
		width: 60%;
		min-height: 50vh;
		margin: 20px 20px;
	}

	#contact form legend {
		font-size: 24px;
		margin-bottom: 10px;
	}

	#contactForm form div {
		flex-direction: column;
	}

	#contactForm input, #contactForm textarea {
		width: 100%;
	}

	#contactForm label {
		display: flex;
	}

	#contact #contactInfo {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		display: flex;
		width: 30%;
		min-height: 50vh;
		margin: 20px 20px;
	}

	#contactInfo > * {
		margin: 15px 0;
	}

	#contactInfo img {
		width: 40%;
	}

	#contactInfo div {
		display: flex;
		flex-direction: row;
	}
}



/* Over 1024px */
@media only screen and (min-width: 1024px) {
	#creations .creas {
		margin: 10px 20px;
		display: inline-block;
	}
	#creations figure {
		display: inline-block;
		position: relative;
		width: 30%;
	}

	#resume {
		font-size: 20px;
	}
}