* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}


/* HEADER; navigation bar */
header {
  background: #009688;
  background: linear-gradient(to left, #1C3230, #009688);
  box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
  position: fixed; 
  width: 100%;
  letter-spacing: .1em;
  z-index: 10;
  font-family: 'Josefin Sans', sans-serif;
}

#menu li a {
  display: block;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hidden {
    display: block;
  }
}

#mainHeader {
  font-weight: bold;
  font-size: 14px;
}

@media only screen and (min-width: 768px) { 
  #mainHeader {
    float: left;
    border-right: solid #f5f5f5 4px;
  } 
}

@media only screen and (min-width: 768px) {
  #titleHeader {
    display: block;
    background: transparent;
  }
}

#mainHeader span {
  padding-left: 10px;
}

#mainHeader img {
  vertical-align: middle;
  height: 40px;
  padding-right: 10px;
  border-right: solid #f5f5f5 2px;
}

.extLinks {
  float: left;
}

@media only screen and (min-width: 768px) {
  .extLinks {
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .intLinks {
    float: left;
  }
}

.intLinks i {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .intLinks i {
    display: inline;
  }
}

ul {
  list-style-type: none;
}

@media only screen and (min-width: 768px) {
  #menu {
    display: block;
  }
}

#menu a, 
#mainHeader a {
  text-decoration: none;
  color: #f5f5f5;
  padding: 0 16px;
  line-height: 50px;
}

@media only screen and (min-width: 768px) {
	#menu a, 
	#mainHeader a {
		padding: 0;
		margin: auto 16px;
	}
}

#menu a {
  transition: background 1s ease, color .5s ease;
  cursor: pointer;
	position: relative;
	font-size: small;
}

@media only screen and (min-width: 768px) {
  #menu a {
    transition: transform 1s ease;
    cursor: pointer;
  }
}

#menu a:hover {
  background: rgba(256, 256, 256, 0.5);
  color: #00796b;
}

@media only screen and (min-width: 768px) {
  #menu a:hover {
    background: transparent;
    color: #f5f5f5;
  }
	#menu a:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 10px;
		background: #f5f5f5;
		transform: scaleX(0);
		transition: transform .5s ease;
	}
	#menu a:hover:before {
		transform: scaleX(1);
	}
}

#burger, 
#cross {
  cursor: pointer;
  background: rgba(0, 0, 0, .5);
}

@media only screen and (min-width: 768px) {
  #burger, 
  #cross {
    display: none;
  }
}


/* Sections are the different menu links */
#home, 
#about, 
#creations {
  min-height: 100vh;
}

/* sections h1; dark banners */
#about h1, 
#creations h1, 
#contact h1 {
  color: #f5f5f5;
  text-align: right;
  padding-right: 14px;
  background: #333;
  background: linear-gradient(to left, #333, #111);
  line-height: 50px;
  font-size: 40px;
  letter-spacing: .1em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
}



/* HOME SECTION; name, function and logo */
#home {
  background: url("img/office.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#home > div {
  background: rgba(256, 256, 256, .6);
  padding-top: 22vh;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  position: relative;
}

#home h1 {
  width: 90%;
  margin: auto;
  font-size: 8vh;
  text-align: center;
	text-transform: uppercase;
  letter-spacing: .2em;
  color: #00796b;
  background: -webkit-linear-gradient(#333, #009688);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home h2 {
  width: 90%;
  margin: auto;
  font-size: 4vh;
  text-align: center;
  letter-spacing: .1em;
  color: #333;
}

#home img {
  padding: 20px 0;
  width: 20%;
}



/* ABOUT SECTION; presentation text */
#about {
  background: url("img/road.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#about > div {
  background: rgba(256, 256, 256, .2);
  min-height: 100vh;
}

@media only screen and (min-width: 1024px) {
  #about h1 {
    margin-bottom: 20px;
  }
}

#about h3 {
  color: #00796b;
  text-shadow: 0 0 1px #f5f5f5;
}

#about p, 
#about h3 {
  width: 90%;
  margin: auto;
  padding: 20px 0;
  text-align: justify;
  line-height: 22px;
  letter-spacing: .06em;
}

@media only screen and (min-width: 768px) {
  #about p, 
  #about h3 {
    width: 80%;
    padding: 20px 0;
    line-height: 24px;
    letter-spacing: .07em;
  }
}

@media only screen and (min-width: 1024px) {
  #about p, 
  #about h3 {
    width: 70%;
    padding: 20px 0;
    line-height: 24px;
    letter-spacing: .07em;
  }
}

#about span {
  color: #009688;
  font-weight: bold;
}

#about a {
  color: #009688;
  padding: 0 5px;
  margin: 0 5px;
  border: solid 1px #009688;
  border-radius: 2px;
  text-decoration: none;
  transition: box-shadow 1s ease, color 1s ease;
  cursor: pointer;
}

#about a:hover {
  box-shadow: inset 0 0 0 1em #009688;
  color: #f5f5f5;
}



/* CREATIONS SECTION; miniatures and links */
#creations {
  text-align: center;
  background: url("img/layout.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#creations div {
}

#creations > div > div {
  margin: 20px auto 0;
  width: 90%;
}

#creations #lang {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#creations #lang > div {
  padding: 5px 10px;
  border: solid 1px #607D8B;
  border-radius: 2px;
  display: none;
  background: #f5f5f5;
  cursor: pointer;
  transition: background .7s ease;
}

@media only screen and (min-width: 768px) {
  #creations #lang > div {
    margin: 10px 0;
    display: inline-block;
  }
}

@media only screen and (min-width: 1024px) {
  #creations #lang > div {
    margin: 20px 0;
  }
}

#creations #lang > div:hover {
  background: #fff;
}

#creations #html {color: #e44d26;}

#creations #css {color: #0765a3;}

#creations #js {color: #f1e05a;}

#creations #bs {color: #4e3773;}

#creations #jq {color: #144e9a;}

#creations #lang span {
  float: left;
}

#creations #lang .progress {
  width: 0;
  opacity: 0;
  border-radius: 2px;
  height: 19px;
  color: #f5f5f5;
  float: right;
  transition: width 1.5s ease, opacity .5s ease;
}

#creations #lang > div:hover > .progress {
  max-width: none;
  margin-left: 10px;
  opacity: 1;
  width: 10vw;
}

@media only screen and (min-width: 1024px) {
  #creations #lang > div:hover > .progress {
    width: 20vw;
  }
}

#creations div #htmlProg {background: #e44d26;}

#creations div #cssProg {background: #0765a3;}

#creations div #jsProg {background: #f1e05a;}

#creations div #bsProg {background: #4e3773;}

#creations div #jqProg {background: #144e9a;}

#creations #miniatures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#creations figure {
  position: relative;
  margin: 10px 0;
  transition: transform .5s ease;
  border-radius: 2px;
}

@media only screen and (min-width: 768px) {
  #creations figure {
    width: 48%;
  }
}

@media only screen and (min-width: 1024px) {
  #creations figure {
    width: 31%;
  }
}

#creations figure:hover {
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  overflow: hidden;
}

#creations .creas {
  width: 100%;
  display: block;
  border-radius: 2px;
}


#creations figcaption {
  position: absolute;
  bottom: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  color: #f5f5f5;
  background: rgba(0, 0, 0, .6);
  line-height: 24px;
  font-size: 18px;
}

#creations a {
  color: #333;
  cursor: pointer;
}

#creations #more {
  padding-top: 20px;
  padding-bottom: 40px;
}

@media only screen and (min-width: 1024px) {
  #creations #more {
    padding-top: 40px;
  }
}

#creations #more span {
  background: #f5f5f5;
  color: #009688;
  padding: 10px 20px;
  border: 2px #009688 solid;
  border-radius: 2px;
  transition: box-shadow 1s ease, color 1s ease;
}

#creations #more span:hover {
  box-shadow: inset 0 0 0 2em #009688;
  color: #f5f5f5;
  cursor: pointer;
}



/* CONTACT SECTION; form, info and resume */
#contact {
  position: relative;
  text-align: center;
  background: url("img/phone.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#contact > div {
  background: rgba(256, 256, 256, .6);
  min-height: calc(100vh - 75px);
}

@media only screen and (min-width: 1024px) {
  #contact h1 {
    margin-bottom: 20px;
  }
}

#contact > div > div {
  width: 90%;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  #contact > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  #contact > div > div {
    width: 70%;
  }
}

#contact #contactForm {
  width: 100%;
  min-height: 25vh;
  margin: 20px 0;
  background: rgba(256, 256, 256, .9);
  padding: 10px;
  border-radius: 2px;
}

@media only screen and (min-width: 768px) {
  #contact #contactForm {
    display: flex;
    flex-direction: column;
    width: 60%;
    /*margin: 20px 10px 20px 20px;*/
    padding: 10px 15px;
  }
}

@media only screen and (min-width: 1024px) {
  #contact #contactForm {
    /*margin: 20px 20px 20px 80px;*/
    padding: 10px 20px;
  }
}

#contactForm form {
  width: 100%;
}

#contact form legend {
  color: #009688;
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  #contact form legend {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

#contactForm form div {}

@media only screen and (min-width: 768px) {
  #contactForm form div {
    flex-direction: column;
  }
}

#contactForm input, 
#contactForm textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  resize: none;
  transition: box-shadow .7s ease;
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 768px) {
  #contactForm input, 
  #contactForm textarea {
    width: 100%;
  }
}

#contactForm label {
  display: none;
  color: #333;
}

@media only screen and (min-width: 768px) {
  #contactForm label {
    display: flex;
  }
}

#contactForm input:invalid:focus, 
#contactForm textarea:invalid:focus {
  box-shadow: #d32f2f 1px 1px 4px;
}

#contactForm input:valid:focus, 
#contactForm textarea:valid:focus {
  box-shadow: #388e3c 1px 1px 4px;
}

#contactForm input:focus, 
#contactForm textarea:focus {
  outline: none !important;
}

#contactForm input[type="submit"] {
  width: 100%;
  background: #f5f5f5;
  color: #009688;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border: 2px solid #009688;
  border-radius: 2px;
  cursor: pointer;
  font-size: 18px;
  transition: box-shadow 1s ease, color 1s ease;
  box-shadow: none;
}

#contactForm input[type="submit"]:hover {
  box-shadow: inset 0 0 0 3em #009688;
  color: #f5f5f5;
}

#contact #contactInfo {
  width: 100%;
  min-height: 25vh;
  margin: 20px 0;
  background: rgba(256, 256, 256, .8);
  padding: 10px;
  color: #009688;
  border-radius: 2px;
}

@media only screen and (min-width: 768px) {
  #contact #contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    /*margin: 20px 20px 20px 10px;*/
  }
}

@media only screen and (min-width: 1024px) {
  #contact #contactInfo {
    /*margin: 20px 80px 20px 20px;*/
  }
}

@media only screen and (min-width: 768px) {
  #contactInfo div {
    display: flex;
    flex-direction: row;
  }
}

#contactInfo p {
  color: #333;
}

#contactInfo img {
  width: 20%;
  border-radius: 2px;
}

@media only screen and (min-width: 768px) {
  #contactInfo img {
    width: 40%;
    min-height: 50px; /*for ie img size bug*/
  }
}

#contactInfo a {
  color: #009688;
  padding: 0 5px;
  transition: color .7s ease;
  border-bottom: solid 2px transparent;
  cursor: pointer;
}

#contactInfo a:hover {
  color: #00796b;
  border-bottom: solid 2px #00796b;
}

#contactInfo > * {
  margin: 5px 0;
}

@media only screen and (min-width: 768px) {
  #contactInfo > * {
    margin: 15px 0;
  }
}

#contact #resume {
  margin-top: 10px;
  padding-bottom: 10px;
  color: #333;
  text-shadow: 0 0 1px #f5f5f5;
}

@media only screen and (min-width: 768px) {
  #contact #resume {
    margin-top: 0;
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  #contact #resume {
    padding-bottom: 20px;
    font-size: 20px;
  }
}

#resume a {
  color: #009688;
  text-decoration: none;
  cursor: pointer;
}

#resume a:hover {
  color: #00796b;
  border-bottom: solid 2px #00796b;
}



/* FOOTER SECTION; at bottom */
footer {
  background: #009688;
  background: linear-gradient(to left, #1C3230, #009688);
  text-align: center;
  color: #f5f5f5;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, .23), 0 -3px 10px rgba(0, 0, 0, .16);
  width: 100%;
  letter-spacing: .1em;
}

footer p {
  line-height: 25px;
  font-size: 12px;
}

footer img {
  vertical-align: middle;
  height: 16px;
}
